.whiteboards-container {
  height: 100%;
  width: 100%;
  background-color: white;
}

.whiteboards_list {
  flex: 1;
  margin: 0px 0px 0px 20px;
}

.title {
  font-size: 20px;
}

.whiteboards_create_button:hover {
  filter: brightness(1.1);
}
