.whiteboard-card {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  transition: max-height 0.7s ease;
  color: black;
  border-radius: 10px;
  background-color: lightgrey;
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 5px 1px;
}
