.form-labels {
  color: black;
  margin-bottom: 5px;
  font-size: 17px;
}

.whiteboard-creation-inputs:hover {
  border-color: #1e1e1e;
}

.whiteboard-creation-inputs {
  cursor: text;
  border-radius: 5px;
  border: solid 1px #b1b1b1;
  background-color: #e9e9e9;
  width: 300px;
  font-size: 14px;
  font-family: Inter-Regular;
  padding: 10px;
}

.input-container {
  margin-top: 10px;
}
