.waviy {
  .first-font {
    font-family: "Damion-Regular", sans-serif;
    font-size: 110%;
  }
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: waviy 8s infinite;
}

@keyframes waviy {
  0%,
  8%,
  20% {
    transform: translateY(0);
  }
  4% {
    transform: translateY(-10px);
  }
}
