.waviy {
  font-size: 20px;
}
.waviy span {
  font-family: marker felt;
  position: relative;
  display: inline-block;
  color: #fff;
  /* text-transform: uppercase; */
  animation: waviy 8s infinite;
  
}
@keyframes waviy {
  0%,8%,20% {
    transform: translateY(0)
  }
  4% {
    transform: translateY(-10px)
  }
}