.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 10000px;
  max-height: 7000px;
  background-color: white;
}

.p {
  color: black;
  margin-top: 10px;
  font-size: 15px;
}

.form-element {
  width: 200px;
  margin-right: 10px;
}
