@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "Lumanosimo";
  src: url(../fonts/Lumanosimo-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito/NunitoSans_10pt_Condensed-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url(../fonts/Inter/Inter-SemiBold.ttf);
  font-weight: semi-bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(../fonts/Inter/Inter-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Damion-Regular";
  src: url(../fonts/Damion-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Inter-SemiBold";
}

.validate-button {
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  min-width: 100px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
}
