.message {
  display: flex;
  flex-direction: column;

  padding: 10px;
  /* position: absolute; */
  position: sticky;
  width: fit-content;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  transition: transform 0.2s;
  /* overflow: hidden; */
}

.message:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px 5px;
}

/* .message.shine:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  animation: shine 3s infinite linear;
} */

@keyframes shine {
  0% {
    left: -100%;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
