.header {
  display: grid;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  justify-items: center;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
}

.login {
  grid-column: 3;
  width: max-content;
  justify-self: end;
  color: white;
  align-self: center;
}

.user_id {
  margin-right: 5px;
  font-size: 12px;
  color: "white";
  cursor: default;
}

.logout_button {
  font-size: 15px;
  font-weight: bold;
}

.login-button {
  height: 40px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  align-self: center;
  font-size: 15px;
  justify-content: end;
  width: fit-content;
  padding: 10px;
  display: flex;
}

.login-button-text {
  margin-right: 5px;
  @media (max-width: 800px) {
    display: none;
  }
}
