.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  background-color: #000000;
  justify-items: center;
}

.login {
  grid-column: 3;
  width: max-content;
  justify-self: end;
  color: white;
  align-self: center;
}

.user_id {
  margin-right: 5px;
  font-size: 12px;
  color: "white";
  cursor: default;
}

.logout_button {
  font-size: 15px;
  font-weight: bold;
  color: "black";
}
