/* h1 {
  text-align: center;
  align-self: center;
  grid-column: 2;
  width: "fit-content";
} */

/* .modal {
  position: fixed;
  background-color: whitesmoke;
  padding: 20px;
  border: 1px solid gray;
} */

.message {
  background-color: #e9e9e9;
  padding: 10px;
  margin-bottom: 10px;
  cursor: grab;
  position: absolute;
}

.message:active {
  cursor: grabbing;
}

.whiteboard {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #e9e9e9;
}

.messages_container {
  position:relative;
  height: 100%;
  width: 100%;
  background-color: white;
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  background-color: #000000;
}

.user {
  grid-column: 3;
  width: fit-content;
  justify-self: end;
  color: white;
  align-self: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; */
}
