.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  cursor: default;
  transition: transform 0.2s;
}

.message:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px 5px;
}

@keyframes shine {
  0% {
    box-shadow: var(--shadow-color) 0px 0px 0px 0px;
  }
  15% {
    box-shadow: var(--shadow-color) 0px 0px 30px 2px;
  }
  30% {
    box-shadow: var(--shadow-color) 0px 0px 0px 0px;
  }
}

.top-button {
  cursor: pointer;
  display: inline-flex;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) -5px 5px 15px 3px;
  transition: opacity 0.2s transform 0.2s translate 0.2s;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.reaction-button {
  font-size: 12px;
  text-align: center;
  top: -10px;
  height: 25px;

  min-width: 25px;
  width: fit-content;
  border-radius: 2em;
}

.delete-button {
  position: absolute;
  top: -10px;
  right: -10px;
}

.delete-button:hover {
  filter: brightness(1.25);
}

.buttons-container {
  > button {
    margin-left: 7px;
  }
}

.count {
  margin-left: 4px;
}

@keyframes rotateEmoji {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: 50deg;
  }

  50% {
    rotate: -50deg;
  }

  75% {
    rotate: 0deg;
  }

  100% {
    rotate: 0deg;
  }
}

.emoji-animation:hover {
  animation-duration: 2s;
  animation-name: rotateEmoji;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}
